.container {
  padding: 0px;
  font-family: PingFang SC;
  .page {
    padding: 0px;
  }
  .component-con {
    border: 1px dotted #c5e3ff;
  }
  .flex-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
  :global {
    .ant-form-item {
      button + button {
        margin-left: 8px;
      }
    }
  }
}
