.container {
  padding: 0px;
  font-family: PingFang SC;
  .edit-container {
    .go-back {
      display: flex;
      align-items: center;
      i {
        font-size: 22px;
        cursor: pointer;
      }
      i:hover {
        color: #01c2c3;
      }
      .bread {
        font-size: 14px;
        margin-left: 8px;
      }
    }
  }
  .page-container {
    box-sizing: border-box;
    font-family: PingFangSC-Regular;
  }
  .component-con {
    border: 1px dotted #c5e3ff;
  }
  .flex-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
  .bc_fff {
    background-color: #ffffff;
  }
  .bshadow {
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px #0000001a;
  }
  .pl24 {
    padding-left: 24px;
  }
  .pb6 {
    padding-bottom: 6px;
  }
  .pb24 {
    padding-bottom: 24px;
  }
  .pr24 {
    padding-right: 24px;
  }
  .pt24 {
    padding-top: 24px;
  }
  .mt24 {
    margin-top: 24px;
  }
  .w90 {
    width: 90px;
  }
  .h32 {
    height: 32px;
  }
  .tar {
    text-align: right;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
  }
  .footer-block {
    position: sticky;
    bottom: 0px;
    height: 64px;
    padding: 0 24px;
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 10;
    .footer-con {
      height: 64px;
      line-height: 64px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  :global {
    .ant-form-item {
      button + button {
        margin-left: 8px;
      }
    }
    .ant-picker-range {
      width: 100%;
    }
  }
}
