<!--
 * @Author: chengtianqing
 * @Date: 2021-06-30 00:40:35
 * @LastEditTime: 2021-06-30 00:56:53
 * @LastEditors: chengtianqing
 * @Description: 
-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="dns-prefetch" href="https://huangyuan.netlify.app/">
  <title>荒原</title>
  <meta name="keywords" content="huangyuan,荒原,lowcode,nocode,NOCODE,LOWCODE,低代码,无代码,代码生成器,vue源码生成,源码生成">
  <meta name="description" content="荒原是一款低代码生成器，直接输出源码，提高开发效率">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VKY1SQRD13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VKY1SQRD13');
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>