<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="dns-prefetch" href="https://idou100.netlify.app/">
  <title>idou</title>
  <meta name="keywords" content="idou,lowcode,nocode,NOCODE,LOWCODE,低代码,无代码,代码生成器,vue源码生成,源码生成">
  <meta name="description" content="idou是一款低代码生成器，直接输出源码，提高开发效率">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VKY1SQRD13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VKY1SQRD13');
  </script>
  <script type="module">
    import prettier from "https://unpkg.com/prettier@2.4.1/esm/standalone.mjs";
    import parserBabel from "https://unpkg.com/prettier@2.4.1/esm/parser-babel.mjs";
    import parserHTML from "https://unpkg.com/prettier@2.4.1/esm/parser-html.mjs";
    import parserCSS from "https://unpkg.com/prettier@2.4.1/esm/parser-postcss.mjs";
    import parserTypeScript from "https://unpkg.com/prettier@2.4.1/esm/parser-typescript.mjs";
  
    // 全局变量
    function prettierFormat(str, type) {
      if (!str) return str;
      let plugins = [];
      let parser = type;
      switch (type) {
        case 'vue2':
        case 'vue3':
          parser = 'vue';
          plugins = [parserHTML, parserBabel, parserCSS, parserTypeScript];
          break;
        case 'react':
          parser = 'babel';
          plugins = [parserHTML, parserBabel, parserCSS, parserTypeScript];
          break;
        case 'html':
          plugins = [parserHTML, parserBabel];
          break;
        case 'less':
          plugins = [parserHTML, parserCSS];
          break;
        default:
          plugins = [parserBabel];
      }

      return prettier.format(str, {
        parser,
        plugins,
        printWidth: 80,
        singleQuote: true,
        jsxSingleQuote: true,
      });
    };
    window.prettierFormat = prettierFormat;
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>