.b-left {
  position: relative;
  border-right: 1px solid #f1f1f5;
  .resize-box {
    width: 350px;
    resize: horizontal;
    cursor: ew-resize;
    opacity: 0;
    overflow-x: scroll;
  }
  .resize-box::-webkit-scrollbar {
    width: 350px;
    min-height: calc(100vh - 50px);
    opacity: 0;
  }
  .content-box {
    position: absolute;
    top: 0px;
    left: 8px;
    right: 8px;
    overflow-x: hidden;
    min-height: calc(100vh - 50px);
    :global {
      .ant-tabs-tabpane {
        padding-bottom: 8px;
      }
    }
    .template {
      padding: 0 5px;
      .item {
        padding: 16px;
        border: 1px solid #f1f1f5;
        box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.2);
        text-align: center;
        img {
          width: 230px;
          height: 150px;
        }
        .title {
          margin-top: 8px;
        }
      }
      .item + .item {
        margin-top: 8px;
      }
    }
    .component {
      padding: 0 5px;
      .item {
        display: flex;
        padding: 16px;
        border: 1px solid #f1f1f5;
        img {
          width: 50px;
          height: 50px;
          margin-right: 8px;
        }
      }
      .item + .item {
        margin-top: 8px;
      }
    }
  }
}
.b-left:hover {
  border-right: 1px dotted #99cbfa;
}
